<div class="hero-head">
  <nav class="navbar <%= yield :navbar_style %> ">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="/">
          <!-- <img src="../images/bulma.png" alt="Logo"> -->
          <%= Rails.configuration.APPNAME %>
        </a>


        <span id="navbarButton" class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>


      </div>


      <div id="navbarMenu" class="navbar-menu">

      <div class="navbar-center has-text-centered justify-content-center">

      <% if user_signed_in? %>

      <div class="navbar-nav justify-content-center" style="padding-top:20px">

        <a class="navbar-item" href=" ">
           <%= current_user.email %>
        </a>


          <a class="navbar-item" href="admin.html">
               Home
          </a>

          <a class="navbar-item" href="admin.html">
            Orders
          </a>

          <a class="navbar-item" href="admin.html">
            Payments
          </a>

      </div>

        <% else %>

        <% end %>

        </div>




        <div class="navbar-end">

          <% if user_signed_in? %>


                <%= link_to('Logout', destroy_user_session_path, class:'navbar-item') %>

            <% else %>

                  <%= link_to('Login', new_user_session_path, class:'navbar-item')  %>

            <% end %>


          <!-- <div class="tabs is-right"> <ul> <li class="is-active"><a>Home</a></li> <li><a href="">Examples</a></li> <li><a href="">Features</a></li> <li><a href="">Team</a></li> <li><a href="">Help</a></li> </ul> </div> -->

        </div>
      </div>
    </div>
  </nav>
</div>
