
<section class="hero   is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">



                  <h2>Log in</h2>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



                    <div class="field">
                        <div class="control">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, class:"input is-large", autofocus: true, autocomplete: "email" %>
                        </div>
                    </div>

                    <div class="field">
                      <div class="control">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, class:"input is-large", autocomplete: "current-password" %>
                      </div>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>

                    <div class="actions">
                      <%= f.submit "Log in", class: "button" %>
                    </div>
                  <% end %>

                  <%= render "devise/shared/links" %>


                    <!--
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">Please login to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://placehold.it/128x128">
                        </figure>
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p>
                  -->




                </div>
            </div>
        </div>
    </section>
