<!DOCTYPE html>
<html class="fullheight">
  <head>


    <title><%= Rails.configuration.APPNAME %></title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%  javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= content_for?(:head) ? yield(:head) : render('shared/head') %>

  </head>

  <body class="fullheight">


      <%= render  'shared/alert' %>




      <div class="fullheight-wrapper fullheight">

         <%= content_for?(:navbar) ? yield(:navbar) : render('shared/navbar') %>


         <div class="fullheight">



               <%= content_for?(:content) ? yield(:content) : yield %>


         </div>





  </div>
  <%= content_for?(:footer) ? yield(:footer) : render('shared/footer') %>


  </body>
</html>
